* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;

}
header{
	background-color: lightgray;
	padding:10px;
	width: 100%;
	height:40px;
	position: fixed;
	margin-bottom: 0px;
}
h1 {
	margin-bottom: 0px;
	margin-top:0px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
header nav {
	text-align: right;
	display:inline-block;
	position: absolute;
	padding: 0px;
	width: 89%;
}
header ul {
	list-style: none;
	color: purple;
	margin-top: 0px;
	margin-bottom: 0px;	
	right: 10px;
	display: inline-block;
	padding-bottom: 50px;
	padding-left: 0;	
}
header li {
	display:inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 20px;
	margin-right: 10px;
	padding: 0px;
}
main {
	margin-left:40px;
}
form {
	margin-left: 40px;
	padding-top: 90px;
	padding-bottom: 20px;
	width: 100%;
	margin-right: 0px;
}	

label {
 	display: inline-block;
}
#search-field {
 	border: 1px solid gray;
 	padding: 0 5px 0 8px;
 	width: 600px;
 	height: 35px;
  	font-size: 14px;
}
img {
  	background-color: white;
  	width: 26px;
  	height: 26px;
}
.mag-glass {
 	background-color:white;
 	vertical-align: bottom;
}
/*.pagination a
 {
  	margin-bottom: 30px;
}*/
.pagination {
	font-size: 0;
	margin-left: 42px;
	margin-bottom:1px;
	display: inline-block;
	border: 1px solid darkgray;
	border-radius: 5%;
	width:auto;
	height: 40px;
	padding-bottom: 1px;

}

.pagination > * {
	font-size: 16px;
	display: inline-block;
	height: 40px;
	/*line-height: 40px;*/
	white-space: nowrap;
	text-align: center;
}

.pagination-link {
	padding: 8px 15px;
	margin:0px;
	color: black;
	text-decoration: none;
}

.pagination span{
	color: black;
	border-left: 1px solid darkgray;
	border-right: 1px solid darkgray; 
	padding: 8px 25px;

}


.listings {
	list-style: none;                                                                                                                                                          
	padding-left: 0px;
	margin-bottom: 5px; 
	margin-left: 30px;
	text-decoration: none;	
}
.listing {
	color: blue;
	font-weight: bold;
}
.listing-date, .listing-location {
	color: darkgray;
	font-weight: normal;
	border-left: none;
	border-right:none;
	font-size: 16px;
}
li {
	padding: 10px;
}
